<div class="">
	<br>
	<h1 class="text-center">部屋の予約が完了しました！</h1>
	<% # ハッシュ認証つき、URL つける %>
	<hr>
	<p>
	詳細は、<a href="<%= @reservation_url %>"><%= @reservation_url %></a> からか、メールにてご確認ください。
	<br>
	お越しになるのを、お待ちしております。
	</p>
</div>