<div class="" style="margin-top:24px">
	<h4>確認のためメールアドレスを入力してください</h4>
	<%= form_tag("/reservations/check/#{@reservation.id}", method: :post) do %>
		<%= text_field_tag :email, @email, :class => "form-control", :style => "width:60%;margin:20px 0;", :placeholder => "メールアドレス" %>
		<%= hidden_field_tag :reservation_hash, @reservation_hash %>
		<%= submit_tag "確認する", :class => "btn btn-sm btn-info" %>
	<% end %>
	<hr>
	<div class="">
		<h4>ご来泊になる前の注意事項</h4>
		<br>
		<ul>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>